<% if (showNameSection) { %>
    <div class="columns">
        <div class="column">
            <div class="box" style="text-align: center;">
                <p class="has-text-grey has-text-weight-medium">
                    NOMBRE
                </p>
                <p class="has-text-black has-text-weight-bold is-size-5">
                    <%= nombre %>
                </p>
                <br>
                <p class="has-text-grey has-text-weight-medium">
                    RFC
                </p>
                <p class="has-text-black has-text-weight-bold is-size-5">
                    <%= rfc %>
                </p>
            </div>
        </div>
    </div>
<% } %>

<label class="label is-medium has-text-danger has-text-weight-semibold">FICHA ACTUAL</label>
<table class="table ficha-table is-fullwidth" style="border-radius: 10px;">
    <tr>
        <td style="padding: 5px 15px">
            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                FECHA LÍMITE
            </p>
            <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                <%= fechaLimite %>
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 15px">
            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                MONTO A PAGAR
            </p>
            <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                $<%= montoAPagar.toLocaleString('mx', {
                    minimumFractionDigits: 2,
                     maximumFractionDigits: 2
                }) %>
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 15px">
            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                MONTO PAGADO
            </p>
            <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                $<%= montoPagado.toLocaleString('mx', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                }) %>
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 15px">
            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                MONTO PENDIENTE
            </p>
            <p class="has-text-black has-text-weight-bold" style="margin: 5px 0">
                $<%= montoPendiente.toLocaleString('mx', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                }) %>
            </p>
        </td>
    </tr>
</table>