<% if (showNameSection) { %>
    <div class="columns">
        <div class="column">
            <div class="box" style="text-align: center;">
                <p class="has-text-grey has-text-weight-medium">
                    NOMBRE
                </p>
                <p class="has-text-black has-text-weight-bold is-size-5">
                    <%= nombre %>
                </p>
                <br>
                <p class="has-text-grey has-text-weight-medium">
                    RFC
                </p>
                <p class="has-text-black has-text-weight-bold is-size-5">
                    <%= rfc %>
                </p>
            </div>
        </div>
    </div>
<% } %>

<label class="label is-medium has-text-danger has-text-weight-semibold">FICHA ACTUAL</label>
<table class="table ficha-table is-fullwidth" style="border-radius: 10px;">
    <tr>
        <td style="padding: 5px 15px">
            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                FECHA LÍMITE
            </p>
            <p class="has-text-black has-text-weight-bold" id="fechaLimiteCard" style="margin: 5px 0">
                <%= fechaLimite %>
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 15px">
            <p class="has-text-danger has-text-weight-semibold" style="margin: 5px 0">
                BALANCE ACTUAL
            </p>
            <div class="columns is-mobile">
                <div class="column is-6">
                    <p class="has-text-black has-text-weight-medium">
                        Por Pagar
                    </p>
                </div>
                <div class="column is-6">
                    <p class="has-text-black">
                        <span class="has-text-weight-bold" id="montoAPagarCard">
                            $<%= montoAPagar.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                        </span>
                        <span class="has-text-weight-light is-size-7">
                            MXN
                        </span>
                    </p>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-6">
                    <p class="has-text-black has-text-weight-medium">
                        Pagado
                    </p>
                </div>
                <div class="column is-6">
                    <p class="has-text-black">
                        <span class="icon" style="margin-left: -30px;">
                            <i class="fas fa-minus"></i>
                        </span>
                        <span class="has-text-weight-semibold" id="montoPagadoCard">
                            $<%= montoPagado.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                        </span>
                        <span class="has-text-weight-light is-size-7">
                            MXN
                        </span>
                    </p>
                </div>
            </div>

            <div class="columns is-mobile <%= recargos > 0 ? '' : 'is-hidden' %>" id="recargosColumn">
                <div class="column is-6">
                    <p class="has-text-black has-text-weight-medium">Recargos</p>
                </div>
                <div class="column is-6">
                    <p class="has-text-black">
                        <span class="icon" style="margin-left: -30px;">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="has-text-weight-semibold" id="recargosCard">
                            $<%= recargos.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                        </span>
                        <span class="has-text-weight-light is-size-7">
                            MXN
                        </span>
                    </p>
                </div>
            </div>

            <div class="columns is-mobile <%= inflacion > 0 ? '' : 'is-hidden' %>" id="inflacionColumn">
                <div class="column is-6">
                    <p class="has-text-black has-text-weight-medium">Inflación</p>
                </div>
                <div class="column is-6">
                    <p class="has-text-black">
                        <span class="icon" style="margin-left: -30px;">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="has-text-weight-semibold" id="inflacionCard">
                            $<%= inflacion.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                        </span>
                        <span class="has-text-weight-light is-size-7">
                            MXN
                        </span>
                    </p>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-6">
                    <strong>
                        <p class="has-text-danger has-text-weight-semibold">
                            Pendiente
                        </p>
                    </strong>
                </div>
                <div class="column is-6">
                    <p class="has-text-danger">
                        <span class="has-text-weight-bold" id="montoPendienteCard">
                            $<%= montoPendiente.toLocaleString('mx', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                        </span>
                        <span class="has-text-weight-light is-size-7">
                            MXN
                        </span>
                    </p>
                </div>
            </div>
        </td>
    </tr>
</table>