<section>
    <h2>Usuarios Activos - <span id="textCambio">Sin Cambios</span>
    </h2>

    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

    <ul>
        <% activeUsers.forEach(function(user) { %>
        <li>
            <%= user.IDUsuario %> - <%= user.CorreoElectronico %> - <%= user.Status %>
            <button class="modify-status-button" data-user-id="<%= user.IDUsuario %>"
                data-user-status="<%= user.Status %>">
                <% if (user.Status == 0) { %>
                    Activar
                <% } else { %>
                    Desactivar
                <% } %>
            </button>
        </li>
        <% }); %>
    </ul>

    <h2>Usuarios Inactivos</h2>
    <ul>
        <% inactiveUsers.forEach(function(user) { %>
        <li>
            <%= user.IDUsuario %> - <%= user.CorreoElectronico %> - <%= user.Status %>
            <button class="modify-status-button" data-user-id="<%= user.IDUsuario %>"
                data-user-status="<%= user.Status %>">
                <% if (user.Status == 0) { %>
                    Activar
                <% } else { %>
                    Desactivar
                <% } %>
            </button>
        </li>
        <% }); %>
    </ul>

    <h2>Administradores</h2>
    <ul>
        <% adminUsers.forEach(function(admin) { %>
        <li>
            <%= admin.IDUsuario %> - <%= admin.CorreoElectronico %> - <%= admin.Status %>
            <button class="modify-status-button" data-user-id="<%= admin.IDUsuario %>"
                data-user-status="<%= admin.Status %>">
                <% if (admin.Status == 0) { %>
                    Activar
                <% } else { %>
                    Desactivar
                <% } %>
            </button>
        </li>
        <% }); %>
    </ul>
</section>
<script type="text/javascript" src="/js/usuarios/consultarUsuarios.js"></script>