<div class="columns">
    <div class="column is-3">
        <label class="label is-medium" for="<%= id %>" style="display: flex; align-items: center; height: 100%;">
            <%= label %>:
        </label>
    </div>
    <div class="column">
        <div class="field">
            <div class="control">
                <textarea id="<%= id %>" name="<%= name %>" class="textarea is-medium" 
                          placeholder="<%= placeholder %>" rows="3"><%= value %></textarea>
            </div>
        </div>
    </div>
</div>