<%- include('../includes/head.ejs', {
    username: username,
    permisos: permisos,
    rol: rol
}) %>

<section>
    <div class="container">
        <%- include('../components/title.ejs', {
            title: 'REGISTRAR PAGO MANUAL',
            showBackButton: true,
            backLink: ''
        }) %>

        <div class="columns is-centered">
            <div class="column is-one-quarter">
                <%- include('../components/pagoActualCard.ejs', {
                    showNameSection: true, 
                    nombre: cliente.Nombre + ' ' + cliente.Apellidos,
                    rfc: cliente.RFC,
                    fechaLimite: renta[0].FechaLimite, 
                    montoAPagar: Number(renta[0].MontoAPagar),
                    montoPagado: Number(renta[0].MontoPagado), 
                    recargos: Number(renta[0].Recargos),
                    montoPendiente: (renta[0].MontoAPagar - renta[0].MontoPagado),
                }) %>
            </div>

            <div class="column is-offset-1">
                <form action="/pagos/registrar_pago_manual/colegiatura" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <%- include('../components/inputs/selectInput', {
                        id: 'contratoPago',
                        name: 'contrato',
                        label: 'Contrato',
                        options: renta.map(function(item) {
                            return {
                                value: item.IDDetalleContrato,
                                text: item.Nombre
                            };
                        }),
                        selectedValue: renta[0].IDDetalleContrato,
                        extraAttributes: renta.reduce((obj, item) => {
                            obj[item.IDDetalleContrato] = `data-monto="${Number(item.MontoAPagar)}" data-fecha-limite="${item.FechaLimite}"`;
                            return obj;
                        }, {}),
                        icon: 'fa-solid fa-file-contract',
                        iconColor: 'has-text-primary'
                    }) %>

                    <%- include('../components/inputs/textInput.ejs', {
                        id: 'motivoPago',
                        name: 'motivo',
                        label: 'Motivo',
                        placeholder: 'Concepto del pago',
                        value: 'Pago de Renta',
                        icon: 'fa-solid fa-circle-info', 
                        iconColor: 'has-text-primary'
                    }) %>

                    <%- include('../components/inputs/numberInput.ejs', {
                        id: 'montoPago',
                        name: 'monto',
                        label: 'Monto',
                        placeholder: 'Monto pagado',
                        value: Number(renta[0].MontoAPagar - renta[0].MontoPagado),
                        icon: 'fa-solid fa-dollar-sign',
                        iconColor: 'has-text-primary'
                    }) %>

                    <%- include('../components/inputs/selectInput', {
                        id: 'metodoPago',
                        name: 'metodo',
                        label: 'Método de Pago',
                        options: [
                            { value: 'Efectivo', text: 'Efectivo' },
                            { value: 'Terminal', text: 'Terminal' },
                            { value: 'Transferencia', text: 'Transferencia' }
                        ],
                        selectedValue: 'Efectivo',
                        icon: 'fa-solid fa-wallet',
                        iconColor: 'has-text-primary' 
                    }) %>

                    <%- include('../components/inputs/textareaInput', {
                        id: 'notaPago',
                        name: 'nota',
                        label: 'Nota (opcional)',
                        placeholder: 'Escribe tu nota aquí.',
                        value: ''
                    }) %>

                    <div class="columns">
                        <div class="column is-6 is-offset-6">
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="module" src="/js/pagos/registrarPagoManual.js"></script>

<%- include('../includes/foot.ejs') %>