<%- include('../includes/head.ejs', { permisos: permisos, rol: rol }) %>

<% if (verificar) { %>
    <body>
        <section class="section">
            <div class="container">
                <h3 id="title" class="title">Ingresa tu antigua contraseña</h3>
                <form action="/configuracion/verify_password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    
                    <!-- Campo de entrada más pequeño -->
                    <div style="display: flex; align-items: center;">
                        <input class="input" type="password" required id="oldPassword" name="oldPassword" style="width: 300px; margin-right: 10px;">
                        
                        <!-- Icono de ojo para mostrar/ocultar contraseña -->
                        <label style="color: black;">
                            <input type="checkbox" id="toggleOldPassword" name="toggleOldPassword" style="display:none;">
                            <i class="fas fa-eye-slash" id="toggleOldPasswordIcon" style="cursor: pointer;"></i>
                        </label>
                    </div>

                    <!-- Botón con espacio adicional debajo -->
                    <button id="guardarBtn" type="submit" class="button is-primary" style="margin-top: 15px;">Verificar contraseña</button>
                </form>

            </div>

            <% if (error) { %>
                <div class="notification is-danger" style="width: 300px; display: block; margin-bottom: 10px;">
                    <strong><%= error %></strong>
                </div>
            <% } %>
        </section>
    </body>
<% } %>

<% if (actualizar) { %>
    <body>
        <section class="section">
            <div class="container">
                <h3 id="title" class="title">Ingresa tu nueva contraseña</h3>
                <form action="/configuracion/update_password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    
                    <!-- Primer campo de entrada con separación -->
                    <div style="display: flex; align-items: center;">
                        <input class="input" type="password" required id="newPassword" name="newPassword" 
                               style="width: 300px; margin-right: 10px;">
                        <label style="color: black;">
                            <input type="checkbox" id="toggleNewPassword" name="toggleNewPassword" style="display:none;">
                            <i class="fas fa-eye-slash" id="toggleNewPasswordIcon" style="cursor: pointer;"></i>
                        </label>
                    </div>

                    <!-- Segundo campo de entrada con separación -->
                    <div style="display: flex; align-items: center; margin-top: 15px;">
                        <input class="input" type="password" required id="newPassword2" name="newPassword2" 
                               style="width: 300px; margin-right: 10px;">
                        <label style="color: black;">
                            <input type="checkbox" id="toggleNewPassword2" name="toggleNewPassword2" style="display:none;">
                            <i class="fas fa-eye-slash" id="toggleNewPassword2Icon" style="cursor: pointer;"></i>
                        </label>
                    </div>
                    
                    <!-- Botón debajo de los campos -->
                    <button id="guardarBtn" type="submit" class="button is-primary" style="margin-top: 15px;">Actualizar contraseña</button>
                </form>
                <p id="errorMessage" style="color: red;"></p>
            </div>
        </section>
    </body>    
<% } %>

<script type="text/javascript" src="/js/updatePassword.js"></script>
<%- include('../includes/foot.ejs') %>
</html>
