<%- include('../includes/head.ejs', { permisos: permisos, rol: rol }) %>

    <% if (verificar) { %>
        <body>
            <section class="section">
                <div class="container">
                    <h3 id="title" class="title">Ingresa tu antigua contraseña</h3>
                    <form action="/configuracion/verify_password" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        
                        <div style="display: flex; align-items: center;">
                            <input class="input" type="password" required id="oldPassword" name="oldPassword" style="width: 300px; margin-right: 10px;">
                            <span id="toggleOldPasswordIcon" class="icon is-small" style="cursor: pointer;">
                                <i class="fas fa-eye" style="color: black;"></i> <!-- Ojo negro -->
                            </span>
                        </div>
    
                        <!-- Botón con espacio adicional debajo -->
                        <button id="guardarBtn" type="submit" class="button is-primary" style="margin-top: 15px;">Verificar contraseña</button>
                    </form>
    
                </div>
    
                <% if (error) { %>
                    <div class="notification is-danger" style="width: 300px; display: block; margin-bottom: 10px;">
                        <strong><%= error %></strong>
                    </div>
                <% } %>
            </section>
        </body>
    <% } %>
    
    <% if (actualizar) { %>
        <body>
            <section class="section">
                <div class="container">
                    <h3 id="title" class="title">Ingresa tu nueva contraseña</h3>
                    <form action="/configuracion/update_password" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        
                        <div style="display: flex; align-items: center;">
                            <input class="input" type="password" required id="newPassword" name="newPassword" style="width: 300px; margin-right: 10px;">
                            <span id="toggleNewPasswordIcon" class="icon is-small" style="cursor: pointer;">
                                <i class="fas fa-eye" style="color: black;"></i> <!-- Ojo negro -->
                            </span>
                        </div>
    
                        <div style="display: flex; align-items: center; margin-top: 15px;">
                            <input class="input" type="password" required id="newPassword2" name="newPassword2" style="width: 300px; margin-right: 10px;">
                            <span id="toggleNewPassword2Icon" class="icon is-small" style="cursor: pointer;">
                                <i class="fas fa-eye" style="color: black;"></i> <!-- Ojo negro -->
                            </span>
                        </div>
                        
                        <!-- Botón debajo de los campos -->
                        <button id="guardarBtn" type="submit" class="button is-primary" style="margin-top: 15px;">Actualizar contraseña</button>
                    </form>
                    <p id="errorMessage" style="color: red;"></p>
                </div>
            </section>
        </body>    
    <% } %>
    
    <%- include('../includes/foot.ejs') %>
    </html>